.imageCss-container {

    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(31rem,1fr));
    grid-row-gap:5px;
    margin-left:3rem;
    margin-top:1rem;
    
}

.imageCss-container img {
    width:31rem;
    border:3px solid #adb5bd;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s all ease-in-out;
}

.imageCss-container img:hover {
    transform: scale(1.1);
    
}